<!DOCTYPE html>
<html lang="en" ng-app="test">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <style>
        .active {
            border: 1px solid #3934f8;
        }
    </style>
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../js/ng-keybord-select.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="TestCtrl as vm">
    <div>
        <h3>像电脑系统一样，shift连续选择，ctrl批量选择，点击单选</h3>
        <ul grid-group grid-select-name="isSelected">
            <li grid-selected="item" ng-class="{'active':item.isSelected}" ng-repeat="item in vm.data">
                {{item.name}}
            </li>
        </ul>
        <pre>
        
            {{vm.data | json}}
        </pre>

        <h3>添加checkbox?通过ng-model-options debounces实现</h3>
        <ul grid-group grid-select-name="isSelected">
            <li grid-selected="item" ng-repeat="item in vm.checkBoxData">
                <input ng-model="item.isSelected" ng-model-options="{debounce : {'default': 300}}" type="checkbox"> {{item.name}}
            </li>
        </ul>
        <pre>
            {{vm.checkBoxData |json}}
        </pre>

        <h3>如何获取选中的数据？</h3>
        <ul grid-group grid-group-data="vm.selectedData" grid-select-name="isSelected">
            <li grid-selected="item" ng-repeat="item in vm.selectData">
                <input ng-model="item.isSelected" ng-model-options="{debounce : {'default': 300}}" type="checkbox"> {{item.name}}
            </li>
        </ul>
        <pre>
            <h3>select Item :</h3>  
            {{vm.selectData |json}}
            <h3>selected Item : </h3>
            {{vm.selectedData |json}}
        </pre>
    </div>
</body>

</html>